{% extends "layout.njk" %}

{% block header %}
  <title>Conteúdos - Milena Mocci</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="titulo">
    <h1>Conteúdos</h1>

  </section>

  <section class="cursos">
    <div class="curso" id="starter">
      <div class="curso-img">
        <img src="./img/starter.svg" alt="">
      </div>
      <div class="curso-content">
        <h3>Starter</h3>
        <p>4 módulos</p>
        <p>Free</p>
      </div>
    </div>

    <div class="curso" id="launchbase">
      <div class="curso-img">
        <img src="./img/launchbase.svg" alt="">
      </div>
      <div class="curso-content">
        <h3>Starter</h3>
        <p>4 módulos</p>
        <p>Free</p>
      </div>
    </div>

    <div class="curso" id="gostack">
      <div class="curso-img">
        <img src="./img/gostack.svg" alt="">
      </div>
      <div class="curso-content">
        <h3>Starter</h3>
        <p>4 módulos</p>
        <p class="">Free</p>
      </div>
    </div>

  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>

      <div class="maximize-modal">
        <i class="material-icons">
          open_in_full
        </i>
      </div>
      <div class="modal-iframe">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <script src="/js/script.js"></script>
  {% endblock%}