{% extends "layout.njk" %}

{% block header %}
  <title>Conteúdos - Milena Mocci</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="titulo">
    <h1>Conteúdos</h1>

  </section>

  <section class="cursos">
    {% for item in itens %}
      <div class="curso" id="{{ item.id }}">
        <div class="curso-img">
          <img src="./img/{{ item.id }}.svg" alt="{{ item.id }}">
        </div>
        <div class="curso-content">
          <h3>{{ item.title }}</h3>
          <p>{{ item.modules }}</p>
          <p>{{ item.price }}</p>
        </div>
      </div>
    {% endfor %}

  </section>

  <script src="/js/script.js"></script>
  {% endblock%}