{% extends "layout.njk" %}

{% block header %}
  <title>Conteúdos - Milena Mocci</title>
{% endblock %}

{% block content %}

  <section class="cursos-informacoes">
    <img src="/img/{{ item.id }}.svg" alt="{{ item.id }}">
    <div class="curso-pagina" id="{{ item.id }}">

      <iframe src="https://rocketseat.com.br/{{ item.id }}" frameborder="0"></iframe>

    </div>

  </section>

  <script src="/js/script.js"></script>
  {% endblock%}