{% extends "layout.njk" %}
{% block header %}
  <title>Página não encontrada</title>
{% endblock %}
{% block content %}
  <section class="not-found">
    <h1>Página não encontrada</h1>
    <h1>Erro 404</h1>

  </section>

{% endblock %}