{% extends "layout.njk" %}
{% block header %}
  <title>Sobre - Milena Mocci</title>
{% endblock %}
{% block content %}
  <section class="first">
    <div>
      <img src="./img/{{ sobre.imglogo }}" alt="">
    </div>
    <div>
      <h1>{{ sobre.namecompany }}</h1>
      <p>{{ sobre.about }}</p>
    </div>
  </section>
  <section class="second">
    <div>
      <h2>{{ sobre.subtitle }}</h2>
    </div>
    <div class="list">
      <ul>
        {% for cursos in sobre.imgtec %}
          <li>
            <img src="./img/{{ cursos.nameimg }}" alt="">
            <p>{{ cursos.titletec }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}