{% extends "layout.njk" %}
{% block header %}
  <title>Sobre - Milena Mocci</title>
{% endblock %}
{% block content %}
  <section class="first">
    <div>
      <img src="./img/logo-rocketseat.png" alt="">
    </div>
    <div>
      <h1>Rocketseat</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint doloremque commodi quis. Rerum veritatis odio explicabo ipsum voluptatum delectus fuga, animi aperiam similique est cumque. Harum iste sequi autem.</p>
    </div>
  </section>
  <section class="second">
    <div>
      <h2>Principais Tecnologias</h2>
    </div>
    <div class="list">
      <ul>

        <li>
          <img src="./img/curso-nodejs.svg" alt="">
          <p>NodeJS</p>
        </li>

        <li>
          <img src="./img/curso-javascript.svg" alt="">
          <p>Javascript</p>
        </li>

        <li>
          <img src="./img/curso-reactjs.svg" alt="">
          <p>ReactJS</p>
        </li>

        <li>
          <img src="./img/curso-react-native.svg" alt="">
          <p>React Native</p>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}