{% extends "layout.njk" %}
{% block content%}
  <div class="cadastros">
    <section class="image" style="width: 400px; min-height: 400px; background-image: url('https://source.unsplash.com/collection/1486124/400x400'); background-repeat: no-repeat; background-size: cover;"></section>
    <section class="inform">
      <div class="title">
        <h3>Cadastro de Professores</h3>
      </div>
      <div class="item">
        <div>Nome Completo</div>
        <div>Milena Calixto Mocci</div>
      </div>
      <div class="item">
        <div>Idade</div>
        <div>37</div>
      </div>
      <div class="item">
        <div>Grau de escolaridadade</div>
        <div>Superior Completo</div>
      </div>
      <div class="item">
        <div>Tipo de Aula</div>
        <div>
          <span>Presencial</span>
        </div>

      </div>
      <div class="item">
        <div>Acompanhamento</div>
        <div>
          <span>Matemática</span>
          <span>Física</span>
        </div>
      </div>
      <div class="item">
        <div>Desde</div>
        <div>02/02/2020</div>
      </div>
    </section>
  </div>

{% endblock %}