:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("./img/chris-curry-CQmnJ2-ODIQ-unsplash.jpg");
}
.header-links {
  height: 100px;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 30px;
}
.header-links a {
  position: relative;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.header-links a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 0;
  height: 2px;
  animation-name: border-my;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes border-my {
  100% {
    width: 100%;
  }
}

.header-links a:first-of-type {
  margin-right: 20px;
}

.cadastros {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 800px;
  min-height: 300px;
  background-color: white;
  margin: 60px auto;
  box-shadow: 23px 23px 14px -3px rgba(0, 0, 0, 0.53);
  animation-name: up;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
  }
}
.cadastros .image {
  width: 100%;
  height: 100%;
  background-image: url("./img/raghav-modi-P1vXpgpL208-unsplash.jpg");
  background-position: center;
}
.cadastros .inform .title h3 {
  font-size: 24px;
  padding: 8px 16px;
}
.cadastros .inform .item {
  margin: 8px 12px;
  padding: 4px;
  border-bottom: 1px solid silver;
}
.cadastros .inform .item:last-of-type {
  border: none;
}
.cadastros .inform .item div:nth-child(1) {
  font-size: 12px;
  font-weight: normal;
  color: darkgrey;
  line-height: 24px;
  letter-spacing: 0.05em;
}
.cadastros .inform .item div:nth-child(2) {
  letter-spacing: 0.05em;
  font-size: 14px;

  font-weight: bold;
}

.cadastros .inform .item div span {
  display: inline-block;
  background-color: rgb(121, 108, 207);
  padding: 8px;
  border-radius: 8px;
}
.inform .item input[type="text"] {
  width: 100%;
  height: 24px;
  border: none;
  outline: none;
}
.inform .item input[type="date"] {
  height: 24px;
  border: none;
  outline: none;
}
.inform .item select {
  border: none;
  outline: none;
}
.inform .item input[type="radio"] {
  margin-right: 5px;
  border: none;
  outline: none;
}
.inform .item span {
  margin-top: 5px;
}
form button {
  width: 100px;
  margin-bottom: 10px;
  padding: 4px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: white;
  font-weight: bold;
  margin-left: 30px;
}
